.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(192, 192, 192);
}
.header__logo {
  padding-left: 30px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
.header__title {
  color: #101828;
  font-size: 30px;
  font-weight: bold;
}
.header__nav {
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.header__button {
  background: none;
  border: none;
  color: #192b4d;
  font-size: 20px;
}
.header__button:hover {
  color: #000000;
  font-weight: bold;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: center;
  background-color: rgb(244, 245, 254);
}
.main__hero {
  width: 60%;
  margin: 70px 0;
}
.main__title {
  margin-top: 300px;
  text-align: center;
  gap: 20px;
}
.main__title-text {
  margin: 0;
  color: #101828;
  font-size: 72px;
  font-weight: bold;
}
.main__title-span {
  color: oklch(54.6% 0.245 262.881deg);
}
.main__text {
  padding: 0 83px;
  text-align: center;
  color: #4A5565;
  font-size: 24px;
}
.main__btn {
  margin: 30px 0;
  gap: 25px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px 50px;
}
.main__button-blue {
  width: 23%;
  padding: 15px;
  border: none;
  font-size: 17px;
  color: #ffffff;
  background-color: oklch(54.6% 0.245 262.881deg);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
  border-radius: 18px;
}
.main__button-white {
  width: 20%;
  padding: 15px;
  border: none;
  background-color: #ffffff;
  font-size: 16px;
  color: #101828;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
  border-radius: 18px;
}
.main__social {
  gap: 30px;
  display: flex;
  justify-content: center;
}
.main__social-icon {
  border-radius: 1px solid rgb(206, 206, 206);
  width: 50px;
  background: transparent;
}
.main__btn-down {
  margin: 40px 40px 70px 40px;
  display: flex;
  justify-content: center;
}
.main__icon-down {
  width: 60px;
  height: 60px;
  stroke: rgb(169, 168, 168);
  stroke-width: 1.5;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  animation: bounceDown 1.2s ease-in-out infinite;
  cursor: pointer;
}
.main__button-down {
  margin: 40px;
  padding: 50px;
  border: none;
  background: transparent;
}
.main__button-down :hover {
  stroke: rgb(75, 75, 75);
}

.email {
  padding-top: 5px;
  width: 44px;
  background: transparent;
}

@keyframes bounceDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  60% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0;
}
.body__title {
  text-align: center;
  width: 100%;
}
.body__title-about {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  font-size: 58px;
  font-weight: bold;
}
.body__title-about:after {
  content: "";
  position: absolute;
  left: 20px;
  bottom: -10px;
  width: 70%;
  height: 5px;
  background-color: oklch(54.6% 0.245 262.881deg);
}
.body__content {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.body__conteiner {
  margin-bottom: 40px;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.body__text {
  line-height: 1.9;
  align-items: start;
  justify-content: start;
  font-size: 20px;
  color: #1c222b;
}
.body__stats {
  margin: 15px 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 20px 20px;
  gap: 20px;
}
.body__stats-text {
  padding: 0 20px;
  margin: 0 0 10px 0;
  color: #2b3039;
  font-size: 20px;
}
.body__experience {
  background-color: rgb(224, 231, 255);
  border-radius: 9px;
}
.body__experience-number {
  padding: 0 20px;
  color: oklch(54.6% 0.245 262.881deg);
  font-size: 30px;
  font-weight: bold;
  margin: 5px 0;
}
.body__clients {
  background-color: rgb(247, 226, 251);
  border-radius: 9px;
}
.body__clients-number {
  padding: 0 20px;
  color: oklch(57.473% 0.26677 303.306deg);
  font-size: 30px;
  font-weight: bold;
  margin: 5px 0;
}
.body__projects {
  background-color: rgb(229, 251, 226);
  border-radius: 9px;
}
.body__projects-number {
  padding: 0 20px;
  color: oklch(60.333% 0.17458 143.28deg);
  font-size: 30px;
  font-weight: bold;
  margin: 5px 0;
}
.body__quality {
  background-color: rgb(251, 242, 218);
  border-radius: 9px;
}
.body__quality-number {
  padding: 0 20px;
  color: oklch(66.442% 0.15836 49.717deg);
  font-size: 30px;
  font-weight: bold;
  margin: 5px 0;
}
.body__img-container {
  padding: 30px;
  position: relative;
  text-align: center;
  width: 70%;
}
.body__img-girl {
  justify-content: center;
  width: 79%;
  height: 80%;
  border-radius: 20px;
  z-index: 2;
  position: relative;
  transform: rotate(1deg);
}
.body__color-img {
  margin: 20px 70px 0 70px;
  position: absolute;
  width: 78%;
  height: 69%;
  background: linear-gradient(to right, rgb(117, 195, 255), rgb(99, 0, 152));
  border-radius: 20px;
  z-index: 1;
  transform: rotate(-1deg);
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 90px 0;
  background-color: rgb(244, 245, 254);
}
.project__title {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  font-size: 58px;
  font-weight: bold;
  margin: 30px;
}
.project__title:after {
  content: "";
  position: absolute;
  right: 620px;
  bottom: -10px;
  width: 10%;
  height: 5px;
  background-color: oklch(54.6% 0.245 262.881deg);
}
.project__content {
  font-size: 18px;
  margin: 0 200px 60px;
  text-align: center;
}
.project__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  gap: 10px;
}
.project__card {
  width: 28%;
  background-color: white;
  border-radius: 30px 30px 20px 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project__card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.project__card-title {
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin: 0;
  padding: 0 20px 0 40px;
}
.project__card-text {
  padding: 0 20px 0 40px;
  font-size: 16px;
  margin-bottom: 20px;
  color: #1c222b;
}
.project__img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
  margin-bottom: 15px;
}
.project__span {
  padding: 30px;
  gap: 20px;
}
.project__span-language {
  padding: 9px;
  font-weight: bold;
  border-radius: 15px;
  color: #0b1ec9;
  background-color: rgb(217, 227, 249);
}

.skills {
  background: none;
}
.skills__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  gap: 25px;
}
.skills__item-blue {
  padding: 20px;
  background-color: rgb(241, 245, 254);
  border-radius: 9px;
}
.skills__item-green {
  padding: 20px;
  background-color: rgb(240, 255, 243);
  border-radius: 9px;
}
.skills__item-purple {
  padding: 20px;
  background-color: rgb(242, 238, 252);
  border-radius: 9px;
}
.skills__item-orange {
  padding: 20px;
  background-color: rgb(251, 238, 234);
  border-radius: 9px;
}
.skills__item-pink {
  padding: 20px;
  background-color: rgb(252, 237, 251);
  border-radius: 9px;
}
.skills__item-yellow {
  padding: 20px;
  background-color: rgb(255, 255, 224);
  border-radius: 9px;
}
.skills__name {
  display: inline-flex;
  justify-content: flex-start;
  font-size: 24px;
  font-weight: bold;
  color: #1c222b;
  margin: 0;
  padding: 0 0 30px 10px;
  position: relative;
  top: -12px;
}
.skills__icon {
  background-color: white;
  padding: 8px;
  border-radius: 12px;
  width: 30px;
  height: 30px;
  margin: 10px 0 0;
}
.skills__progress {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.skills__progress-frontend {
  font-size: 18px;
  color: #0a1bae;
  background-color: rgb(218, 223, 255);
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}
.skills__progress-backend {
  font-size: 18px;
  color: #065e00;
  background-color: #d9ffd6;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}
.skills__progress-baza {
  font-size: 18px;
  color: rgb(81, 43, 178);
  background-color: rgb(223, 215, 245);
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}
.skills__progress-arrow {
  font-size: 18px;
  color: rgb(243, 85, 37);
  background-color: rgb(249, 226, 219);
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}
.skills__progress-palette {
  font-size: 18px;
  color: rgb(181, 50, 166);
  background-color: rgb(250, 220, 247);
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}
.skills__progress-zap {
  font-size: 18px;
  color: rgb(139, 139, 18);
  background-color: rgb(242, 242, 198);
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*# sourceMappingURL=style.css.map */
