.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0;
    

    &__title{
        text-align: center;
        width: 100%;
    }


    &__title-about{
        display: inline-block;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        font-size: 58px;
        font-weight: bold;
        &:after{
            content: "";
            position: absolute;
            left: 20px;
            bottom: -10px;
            width: 70%;
            height: 5px;
            background-color: oklch(0.546 0.245 262.881);
        }
    }
    &__content{
        display: flex;
       flex-direction: row;
        width: 100%;
    }

    &__conteiner{
        width: 45%;
         display: flex;
        flex-direction: column;
        align-items: start;
    }


    &__text{
        line-height: 1.9;
       align-items: start;
       justify-content:start;
       font-size: 20px;
       color: #1c222b;
    }

    &__stats{
        margin: 15px 0;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 20px 20px;
        gap: 20px;

        &-text{
            padding: 0 20px;
            margin: 0 0 10px 0;
            color: #2b3039;
            font-size: 20px;
        }

    }
   &__experience{
        background-color: rgb(224, 231, 255);
        border-radius: 9px;

         &-number{
          padding: 0 20px;
          color:  oklch(0.546 0.245 262.881);
          font-size: 30px;
          font-weight: bold;
          margin: 5px 0;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
   }

   &__clients{
      background-color: rgb(247, 226, 251);
      border-radius: 9px;

       &-number{
         padding: 0 20px;
         color:  oklch(57.473% 0.26677 303.306);
         font-size: 30px;
         font-weight: bold;
         margin: 5px 0;
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
   }

   &__projects{
     background-color: rgb(229, 251, 226);
     border-radius: 9px;

        &-number{
         padding: 0 20px;
         color:  oklch(60.333% 0.17458 143.28);
         font-size: 30px;
         font-weight: bold;
         margin: 5px 0;
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
   }

   &__quality{
    
     background-color: rgb(251, 242, 218);
     border-radius: 9px;

        &-number{
          padding: 0 20px;
         color:  oklch(66.442% 0.15836 49.717);
         font-size: 30px;
         font-weight: bold;
         margin: 5px 0;
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
   }

   &__img-container{
    padding: 30px;
    position: relative;
    text-align: center;
    width: 70%;
   }

   &__img-girl{
    justify-content: center;
    width: 70%;
    height: 80%;
    border-radius: 20px;
    z-index: 2;
    position: relative;
    transform: rotate(1deg);
   }
   &__color-img{
    padding-left: 30px;
    margin: 20px 60px 0 90px;
    position: absolute;
    width: 68%;
    height: 69%;
    background: linear-gradient(to right, rgb(117, 195, 255),rgb(99, 0, 152));
    border-radius: 20px;
    z-index: 1;
    transform: rotate(-1deg);
   }
}